/* 1281 */
@media (min-width: 1281px) {
    .words-content {
        width: 25%;
        height: 200px;
    }

    .words-container {
        width: 100%;
        justify-content: center;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .words-content {
        width: 45%;
        height: 200px;
    }

    .complete-point {
        padding: 25px 5px;
        font-size: 18pt;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        flex-direction: column;
    }

    #menu-close,
    #menuActive {
        display: none;
    }

    aside {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
    }

    aside nav {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 0;
    }

    aside nav span {
        margin-left: 5px;
        margin-top: 5px;
    }

    .words-content {
        width: 44%;
        height: 200px;
    }

    .words-container {
        width: 100%;
        justify-content: center !important;
    }

    .complete-point {
        padding: 25px 5px;
        font-size: 18pt;
    }

    .words-container {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
    }

    .alert-container {
        right: 10px !important;
    }

    .modal-btns {
        width: 20%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .container {
        flex-direction: column;
    }
    #menu-close,
    #menuActive {
        display: none;
    }

    aside {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
    position: relative;
    justify-content: space-evenly;
        align-items: center;
    }

    aside nav {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 0;
    }

    aside nav span {
        margin-left: 5px;
        margin-top: 5px;
    }

    .words-content {
        width: 44%;
        height: 200px;
    }

    .words-container {
        width: 100%;
        justify-content: center !important;
    }

    .complete-point {
        padding: 25px 5px;
        font-size: 18pt;
    }

    .words-container {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
    }

    .alert-container {
        right: 10px !important;
    }

    .modal-btns {
        width: 20%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .container {
        flex-direction: column;
    }
    #menu-close,
    #menuActive {
        display: none;
    }

    aside {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    position: relative;
    align-items: center;
    }

    aside nav {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 0;
    }

    aside nav span {
        margin-left: 5px;
        margin-top: 5px;
    }

    .words-content {
        width: 70%;
        height: 200px;
    }

    .words-container {
        width: 100%;
        justify-content: center !important;
    }

    .complete-point {
        padding: 25px 5px;
        font-size: 18pt;
    }

    .words-container {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
    }

    .alert-container {
        right: 10px !important;
    }

    .modal-btns {
        width: 20%;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .container {
        flex-direction: column;
    }
    #menu-close,
    #menuActive {
        display: none;
    }

    aside {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    position: relative;
    }

    aside nav {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 0;
    }

    aside nav span {
        margin-left: 5px;
        margin-top: 5px;
    }

    .words-content {
        width: 70%;
        height: 200px;
    }

    .words-container {
        width: 100%;
        justify-content: center !important;
    }

    .complete-point {
        padding: 25px 5px;
        font-size: 18pt;
    }

    .words-container {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
    }

    .alert-container {
        right: 10px !important;
    }

    .modal-btns {
        width: 20%;
    }
}

@media (min-width: 0px) and (max-width: 479px) {
    .container {
        flex-direction: column;
    }
    #menu-close,
    #menuActive {
        display: none;
    }

    aside {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    position: relative;
    }

    aside nav {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 0;
    }

    aside nav span {
        margin-left: 5px;
        margin-top: 5px;
    }

    .words-content {
        width: 100%;
        height: 200px;
    }

    .words-container {
        width: 100%;
        justify-content: center !important;
        align-self: center !important;
    }

    .complete-point {
        padding: 25px 5px;
        font-size: 18pt;
    }

    .words-container {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
    }

    .alert-container {
        right: 10px !important;
    }

    .modal-btns {
        width: 20%;
    }

    .complete-table {
        width: 70%;
    }
}