* {
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;

}

#clear-localstorage {
    width: 40px;
    height: 40px;
    background-image: url(../images/bin.png);
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.container {
    width: 100%;
    display: flex;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

aside {
    width: 5%;
    height: 100%;
    position: fixed;
    background-color: black;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

aside nav span svg {
    cursor: pointer;
    padding: 10px;
}

.aside-active {
    display: flex;
}

#menuActive {
    background-color: black;
    color: white;
    padding: 13px;
    border-radius: 10px;
    z-index: 5;
    position: fixed;
    left: -15px;
    text-align: center;
}

.words-container {
    width: 90%;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.words-content {
    width: 30%;
    height: 200px;
    border-radius: 35px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px;
    align-items: center;
}

.words-content-info {
    width: 100%;
}

.words-content table {
    width: 100%;
    text-align: center;
    border-spacing: 10px;
}

.words-content thead {
    margin-bottom: 50px;
}

.words-content th,
.words-content td {
    width: 25%;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 35px;
}

#word-status {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 1px solid rgba(255, 255, 255, 0.403);
}

#word-status input {
    background-color: white;
    color: black;
    padding: 10px;
    font-weight: bold;
    border-radius: 35px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.complete-section {
    width: 95%;
    display: flex;
    justify-content: center;
}

.complete-table {
    width: 90%;
    text-align: center;
    position: relative;
}

.complete-table th {
    background-color: black;
    color: white;
    padding: 10px;
}

.complete-point {
    color: white;
    padding: 35px 15px;
    font-size: 22pt;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: rgb(255, 85, 85);
    border-radius: 100%;
    text-align: center;
}

.alert-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0px;
    top: 10px;
    z-index: 9999;
}

.alert-box {
    width: 100%;
    padding: 10px;
    border-radius: 35px;
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#clear-modal {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.83);
    color: white;
    z-index: 9999;
}

#clear-modal h1 {
    text-align: center;
    font-size: 24px;
}

#clear-modal p {
    text-align: center;
    font-size: 16px;
}
.modal-info{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}
.close-modal{
    background-color: whitesmoke;
    color: black;
}
.modal-btns{
    margin: 10px;
    width: 15%;
    display: flex;
    justify-content: space-evenly;
}

.modal-btns button{
    padding: 10px;
    border: none ;
}
.remove-list{background-color: red; color: white;}
.section-title{
    width: 100%;
    text-align: center;
    margin: 20px 0;
}